<a href="https://colab.research.google.com/github/BabakDavarmanesh/Learning_Pandas/blob/main/Learning_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Tutorial: A Beginner-Friendly Guide to Data Analysis**

**Author:** *Babak Davarmanesh*


---

**Creating a DataFrame with Pandas**

In this example, we are going to create a simple DataFrame using pandas, which is a powerful data manipulation library in Python.

First, we import pandas using the alias pd. This is the standard practice in Python when working with pandas.

In [2]:
import pandas as pd

**Creating the DataFrame**

We create a DataFrame using the pd.DataFrame() function, which takes a dictionary of lists (or arrays) as input. In this case, we have three columns: Name, Age, and Sex.

In [3]:
df = pd.DataFrame(
    {
        "Name": [
                 "Braund, Mr. Owen Harris",
                 "Allen, Mr. William Henry",
                 "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

**Displaying the DataFrame**

After creating the DataFrame, we can display it in two ways:

Using the print() function:

In [4]:
print(df)

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [5]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

**Accessing a Single Column**

If you want to access a specific column from the DataFrame, such as the Name column, you can do so by referencing the column name inside square brackets:

This will return a Series, which is essentially a single column of the DataFrame. The output will look like this:

In [7]:
df["Name"]

0     Braund, Mr. Owen Harris
1    Allen, Mr. William Henry
2    Bonnell, Miss. Elizabeth
Name: Name, dtype: object

**Creating and Working with a Pandas Series**

Sometimes, we don't need to create an entire DataFrame. Instead, we can create a pandas Series, which is essentially a single column of data. This can be useful when you only need to work with one set of values.

You can create a Series like this:

In [13]:
MyCol  = pd.Series(["Canada", "USA", "Germany"], name="Nationality")
MyCol

0     Canada
1        USA
2    Germany
Name: Nationality, dtype: object

**Using Functions like max() on DataFrames and Series**

In pandas, both DataFrames and Series support a variety of functions that allow you to perform operations directly on the data.

For example, we can use the max() function to find the maximum value in a column of a DataFrame or in a Series.

**On DataFrame Column**

If you want to find the maximum value in a specific column of a DataFrame, you can access the column and apply the max() function like this:

In [18]:
df['Age'].max()

58

Here:

df['Age'] accesses the Age column of the DataFrame df.

.max() then returns the maximum value from that column.

For example, if the Age column contains [22, 35, 58], calling df['Age'].max() will return:

On Series

Similarly, you can use the max() function on a Series as well:

In this case, the function determines the "maximum" value based on alphabetical order.

In [19]:
MyCol.max()

'USA'